@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: lofi --default, dark --prefersdark;
}

@tailwind utilities;

/* Global styles */
html {
  font-size: 0.9rem; /* slightly smaller base */
}

body {
  font-size: 1rem; /* 1rem = 14px */
  font-family: 'Roboto', sans-serif;
}
